<div class="row" (window:resize)="adjustImage()">
  <div class="col-12 text-center padding-sides">
    <h1>UX Full Stack Developer, out of Baltimore.</h1>
    <i>"learn to make new
      mistakes, fail fast and keep moving"</i>
    <h2>
      My passion for Development
    </h2>
    <p>
      Since I can remember I have been developing. Developing has given me an opportunity to express my creative side
      and at the same time challenge my logical thinking. It takes creativity to solve a problem. You have to
      orchestrate all the
      languages, their strengths and weaknesses, together to make a harmony.
    </p>
    <p>
      I love what I do. I think what makes me so passionate about it is you are always learning. Especially when you try
      new things. So learn to make new
      mistakes, fail fast and keep moving.
    </p>
    <h2>
      My passion for UX
    </h2>
    <p>
      It wasn't too long ago when healthcare.gov was launched. But as we know, it did not do very well--the site, not the concept. 
      The launch failed because they didn't know their audience, they did not
      research their users. 
    </p>
    <p>
      For too long we have tried to serve the needs of others by assuming what they want. We need to
      meet people wherever they are. We need to build solutions with the user in mind.
    </p>
    <p>
      My passion for UX comes from the need to build solutions that are seemless, learnable and intuitive for developers
      and especially for users.
    </p>
  </div>
</div>
<img id="profilePic" [@picLoad]="{value: 'enter', params: { halfHeight: halfHeight, halfWidth: halfWidth } }"
  src="../../../../../assets/images/profile_pic2.JPG" class="rounded-circle figure-img img-fluid" alt="profile picture">