img { 
    border-width: 5px; 
    border-style: solid;
    border-color:  #267491;
    position: fixed;
}

.padding-sides {
    padding: 25px 125px;
}

h1 {
font-size: 1.5em;
font-weight: bold;
margin-bottom: 25px;
}

h2 {
text-align: left;
font-size: 1.2em;
font-weight: bold;
margin-top: 25px;
margin-bottom: 25px;
color: #267491;
}

h3 {
    font-size: 1em;
    font-weight: bold;
}

p {
    text-align: left;
    text-indent: 25px;
}

ul {
    margin-top: 15px;
    list-style-type: none;
    text-align: left;
    padding-left: 0;
}

li {
    margin-bottom: 15px;
}

.background-color {
    box-shadow: 0 0 15px 5px #a7b8b5;
    padding: 10px;
    justify-content: top;
    flex-direction: column;
    display: flex;
    height: 100%;
}

@media only screen and (max-width: 992px) {
    #profilePic {
        display: none;
    }

    .padding-sides {
        padding: 25px;
    }
}