<div class="row">
  <div class="col-sm-12 col-md-6 text-center">
    <img src="../../../../../assets/images/profile_pic2.JPG" class="rounded-circle figure-img img-fluid"
      alt="profile picture">
  </div>
  <div class="col-sm-12 col-md-6">
    <h2 class="text-center">Biography</h2>
    Lorem ipsum dolor sit amet, ne elitr invenire pri, pro autem putent aperiam ad. Purto quas intellegam mel in, enim
    vocent verear ne usu. Delicata quaerendum ea sit, eu ignota possim nonumes his. An vim facer libris, prompta
    omnesque sed te. Ut indoctum adversarium per, te qualisque intellegat incorrupte has.

    At sea munere vidisse adversarium. Id nec vidit prompta consectetuer, usu vide iracundia efficiantur eu. Postea
    nusquam posidonium pri ex, ne sit numquam veritus legendos, alterum detraxit expetenda nec ne. Ius malis qualisque
    an, stet dicat primis quo in. Equidem appareat salutandi in per. Cum ex graeco democritum, placerat persequeris ad
    vis.

    Noster luptatum ex mei, vis et sale meis accusamus. Nihil omnesque eam id, sed ne voluptatum incorrupte, legendos
    forensibus abhorreant no sea. Erant placerat salutatus in vel, pro semper aliquam ea. Usu an fuisset oportere,
    admodum delectus probatus id eam. Ex omnium repudiare consequat usu.

    Malis insolens sea at, ad nullam dolores his. Vix integre electram et, ipsum saperet usu no. Partem impedit insolens
    eos no. Nostrum propriae inimicus duo eu, no essent lucilius contentiones quo, cum diam ipsum te. Quo ut detraxit
    voluptatum.

    At ius urbanitas eloquentiam, no sint instructior eam. In duo malis munere scaevola, eum ad sint nullam explicari.
    Dolore perpetua eum an, malorum evertitur ius an, graece vidisse reprehendunt eu vel. Epicuri epicurei consequuntur
    pri ex, pro cu graeco feugait mandamus. Iusto legere dictas ne vim, ferri definitionem cum ad. Te probo detraxit
    accusata sed, facete epicurei duo in.
  </div>
</div>