#canvas {
    border: 1px solid red;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
    left: 0px;
    top: 0px;
    filter: blur(60px);
  -webkit-filter: blur(60px);
    background-color: #cec5bc;
}