<div class="text-center bio-wrapper ml-auto mr-auto h2 bg-transparent" routerLink="/about" tabindex="0" aria-role="link">
    <div class="firstView">
        My name is <span class="uniqueFeel">Jack Lopez</span>.
    </div>
    <div class="hide">
        I am a <span class="uniqueFeel">full</span> stack developer
    </div>
    <div class="show">
        <span class="uniqueFeel">Enter Site</span>
    </div>
    <div class="firstView">
        with a keen eye for <span class="uniqueFeel">UX</span>.
    </div>
</div>
<app-canvas></app-canvas>