$main-black-color: #000205;
$second: #072c3a;
$third: #267491;
$fourth:#a7b8b5;
$fifth: #cec5bc;

.bio-wrapper {
    padding: 25px;
    max-width: 550px;
    min-width: 360px;
    font-weight: bold;
    border: 4px solid $main-black-color;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    background-color: #fdfefe !important;
    border-top-right-radius: 100px;
    border-bottom-left-radius: 100px;
    box-shadow: 0 0 30px 5px $main-black-color;
}

.bio-wrapper:hover {
    box-shadow: 0 0 30px 5px #fff;
    transition: all 0.2s ease-in-out;
    border: 2px solid $main-black-color;
    background-color: $main-black-color !important;
    border-radius: 100px;
}

.bio-wrapper:hover > .show{
    display: block;
}

.bio-wrapper:hover > .hide{
    display: none;
}

.bio-wrapper:hover > .firstView {
    visibility: hidden;
}

.uniqueFeel {
    color: #267491;
    font-style: italic;
    font-size: 2.3rem;
}

.show {
    display: none;
}

@media only screen and (max-width:  576px) {
    .uniqueFeel, .bio-wrapper {
        font-size: 1.75rem;
    }

    .bio-wrapper {
        border-top-right-radius: 85px;
        border-bottom-left-radius: 85px;
    }

    .bio-wrapper:hover {
        border-radius: 85px;
    }
}