$main-black-color: #000205;
$second: #072c3a;
$third: #267491;
$fourth:#a7b8b5;
$fifth: #cec5bc;

.bio-wrapper {
    padding: 25px;
    max-width: 550px;
    min-width: 360px;
    font-weight: bold;
    border-left: 4px solid $main-black-color;
    border-top-right-radius: 70px;
    border-top: 4px solid $main-black-color;
    padding-bottom: 25px;
    border-bottom-left-radius: 70px;
    transition: all 0.25s ease-in-out;
    cursor: pointer;
}

.bio-wrapper:hover {
    box-shadow: 0 0 30px 5px $main-black-color;
    background-color: $fifth !important;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0;
    transition: all 0.25s ease-in-out;
    border: 2px solid $main-black-color;
}

.uniqueFeel {
    color: #267491;
    font-style: italic;
    font-size: 2.3rem;
    -webkit-text-stroke: 1px $main-black-color;
    // text-shadow:
    // -1px -1px 0 $main-black-color,  
    // 1px -1px 0 $main-black-color,
    // -1px 1px 0 $main-black-color,
    // 1px 1px 0 $main-black-color;
}