$main-black-color: #000205;

#canvas {
    border: 1px solid red;
    width: 100%;
    height: 100vh;
    position: fixed;
    z-index: -1;
    left: 0px;
    top: 0px;
    filter: blur(60px);
  -webkit-filter: blur(60px);
}

.bio {
    opacity: 1;
    padding-left: 25px;
    padding-right: 25px;
    margin: 0 auto;
    max-width: 550px;
    min-width: 360px;
    font-weight: bold;
    border-left: 4px solid $main-black-color;
}

.bio:first-child {
    padding-top: 25px;
    border-top-right-radius: 70px;
    border-top: 4px solid $main-black-color;
}

.bio:last-child {
    padding-bottom: 25px;
    border-bottom-left-radius: 70px;
}

.uniqueFeel {
    color: #267491;
    font-style: italic;
    font-size: 2.3rem;
    -webkit-text-stroke: 1px $main-black-color;
    // text-shadow:
    // -1px -1px 0 $main-black-color,  
    // 1px -1px 0 $main-black-color,
    // -1px 1px 0 $main-black-color,
    // 1px 1px 0 $main-black-color;
}