<div class="row text-left">
  <div class="col-12">
    <ul class="list-group">
      <li class="list-group-item bg-transparent border-right-0 border-left-0">Name: Jack Lopez, {{ age }}</li>
      <li class="list-group-item bg-transparent border-top-0 border-right-0 border-left-0">Lives: Baltimore, MD</li>
      <li class="list-group-item bg-transparent border-top-0 border-right-0 border-left-0">Ethnicity: Puerto Rican / American</li>
      <li class="list-group-item bg-transparent border-top-0 border-right-0 border-left-0">Interests: voluteering, traveling, learning new languages, anything outdoors</li>
      <li class="list-group-item bg-transparent border-top-0 border-right-0 border-left-0">Education: BS Information Systems</li>
    </ul>
  </div>
</div>