nav {
    margin-left: -15px;
    margin-right: -15px;
    height: 100%;
}

#navbars {
    background-color: white;
    margin-left: -26px;
    margin-right: -26px;
    padding: 25px;
}

li a {
 color: #a7b8b5 !important;
}

li a.active {
    color: #072c3a !important;
    border-bottom: 3px solid #267491;

}

.alignButton {
    position: absolute;
    right: 0;
}

.downloadIcon {
    color: white;
    border-left-width: 5px;
    background-origin: padding-box;
    background-image: url('../../../../assets/images/download.svg');
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20px;
    padding-left: 25px;
    background-color: #267491;
}

@media only screen and (max-width: 992px) {
    #navbars {
        margin: 0;
        background-color: transparent;
    }

    .alignButton {
        position: static;
    }
}