.verticalAlign {
    height: 100%;
    border-right: 2px solid black;
    padding: 25px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.aboutBackground {
    background-image: url('../assets/images/city_buildings.jpg');
}

.projectsBackground {
    background-image: url('../assets/images/profile_pic2.JPG');
}
.border-bottom {
    border-bottom: 2px solid black;
}

.scrollBody {
    overflow-y: auto;
    max-height: 100%;
}

@media only screen and (max-width: 992px) {
    .verticalAlign {
        height: auto;
        border-right: 0;
        padding: 25px;
        background-image: none;
    }

    .align-items-center {
        align-items: start !important;
    } 
    
    .h-100 {
        height: unset !important;
    }

    .scrollBody {
        max-height: none;
    }
}