.verticalAlign {
    height: 100%;
    border-right: 2px solid black;
    padding: 25px;
}

.border-bottom {
    border-bottom: 2px solid black;
}

.scrollBody {
    overflow-y: auto;
    max-height: 100%;
}

@media only screen and (max-width: 992px) {
    .verticalAlign {
        height: auto;
        border-right: 0;
        padding: 25px;
    }

    .align-items-center {
        align-items: start !important;
    } 
    
    .h-100 {
        height: unset !important;
    }

    .scrollBody {
        max-height: none;
    }
}