.projectsCard {
    height: 25vh;
    border: 1px solid black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.btn {
    display: block !important;
    padding: 0 !important;
    border: 0 !important;
    margin-right: -15px;
    margin-left: -15px;
}