.btn {
    display: block !important;
    padding: 0 !important;
    border: 0 !important;
    text-align: left !important;
    color: #267491;
    font-size: 1.2rem;
    font-weight: bold;
}

.badge {
    background-color: #a7b8b5;
    color: white;
    padding: 10px;
    margin-right: 5px;
}

p {
    text-indent: 25px;
    margin-top: 20px;
}

.col-12 {
    padding: 20px 125px;
}

@media only screen and (max-width: 992px) {
    .col-12 {
        padding: 20px;
    }
}