<div class="row">
  <div class="col-12">
    <a class="btn" href="https://mdvla.org/" target="_blank">
      <div class="projectsCard" style="background-image: url('../assets/images/mdvla.png')">
      </div>
    </a>
  </div>
  <div class="col-12">
    <a class="btn" href="https://www.ebcc.church/" target="_blank">
      <div class="projectsCard" style="background-image: url('../assets/images/ebcc.png')">
      </div>
    </a>
  </div>
  <div class="col-12">
    <a class="btn" href="https://www.npmjs.com/package/@bellese/angular-design-system" target="_blank">
      <div class="projectsCard" style="background-image: url('../assets/images/library.png')">
      </div>
    </a>

  </div>
  <div class="col-12">
    <a class="btn" href="" target="_blank">
      <div class="projectsCard">
        <h1>Coming soon...</h1>
      </div>
    </a>
  </div>
</div>