.btn {
    padding: 0 !important;
    border: 0 !important;
    color: black;
    text-align: left;
}

.badge {
    background-color: #a7b8b5;
    color: white;
    padding: 10px;
    margin-right: 5px;
}

p {
    text-indent: 25px;
    margin-top: 20px;
}

.col-12 {
    padding: 10px 125px;
}

hr {
    width: 50%;
}

hr:last-of-type {
    display: none;
}

h2 {
    text-align: left;
    font-size: 1.2em;
    font-weight: bold;
    color: #267491;
}

a:first-of-type {
    margin-top: 3px;
}

a:last-of-type {
    margin-bottom: 3px;
}

a:hover {
    background-color: rgba(167,184,181, 0.3);
}

@media only screen and (max-width: 992px) {
    .col-12 {
        padding: 20px;
    }
}